<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
</head>
<body>
  <h1>{{ title }}</h1>
  <h2>Users for First App</h2>
  {% if list %}
    <ol>
      {% for item in list %}
        <li>User Info</li>
        <ul>
          <li>First Name: {{ item.first_name }}</li>
          <li>Last Name: {{ item.last_name }}</li>
          <li>Email: {{ item.email }}</li>
        </ul>
      {% endfor %}
    </ol>
  {% else %}
    <p>No records found!!</p>
  {% endif %}

</body>
</html>